#root {
  /* max-width: 1280px; */
  min-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3 {
  font-family: "Cormorant-Garamond";
}

nav {
  position: fixed;
  width: calc(100% - 12rem);
  /* margin-right: 6rem;
  margin-left: 6rem; */
  margin: 0 6rem 2rem 6rem;
  bottom: 0;
  z-index: 1030; /* to prevent the navbar getting covered up by other content */
}
