nav a {
  background-color: #fffaf4;
  color: black;
  /* padding: 1rem; */
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
  display: block;
  font-size: 1.5rem;
  font-family: "Cormorant Garamond";
  font-weight: 700;
  text-align: center;
  height: calc(100%-2rem);
  max-width: 18rem;
  min-width: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav a:hover {
  color: maroon;
}
